<!DOCTYPE html>
<html lang="en-US">

  <head>
    {{ block "meta" . }}
      {{ partial "head/meta" . }}
    {{ end }}
    {{ block "head" . }}
      {{ partial "head/head" . }}
    {{ end }}
  </head>
  
  <body>
    <header>
      {{ block "header" . }}
        {{ partial "header" . }}
      {{ end }}
    </header>

    <main>
      {{ block "main" . }}
      {{ end }}
    </main>

    <footer>
      {{ block "footer" . }}
        {{ partial "footer" . }}
      {{ end }}
    </footer>

  </body>
</html>