<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
      "inLanguage" : "en-US",
      "author" : {
        "@type": "Person",
        "name": "{{ range .Site.Author }}{{ . }}{{ end }}"
      },
      "creator" : {
        "@type": "Person",
        "name": "{{ range .Site.Author }}{{ . }}{{ end }}"
      },
      "publisher": {
        "@type": "Person",
        "name": "{{ range .Site.Author }}{{ . }}{{ end }}"
      },
      "accountablePerson" : {
        "@type": "Person",
        "name": "{{ range .Site.Author }}{{ . }}{{ end }}"
      },
      "copyrightHolder" : {
        "@type": "Person",
        "name": "{{ range .Site.Author }}{{ . }}{{ end }}"
      },
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      "keywords" : [ {{ if isset .Params "categories" }}{{ range .Params.categories }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
  }
  </script>