pre, .highlight pre {
    overflow: scroll;
 }

.highlight pre {
    margin: 0;
    padding: $px16 $px12;
 }

 p > code {
     background-color: #f5f8fa;
     padding: 2px 5px;
     border-radius: 3px;
 }