<li>
    <article>
        <header>
            <h3>
                <a {{ printf "href=%q" .Permalink | safeHTMLAttr }}>
                    {{- default .Title .Params.heading -}}
                </a>
            </h3>
            <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
        </header>
        <section>
            <p>{{- .Description -}}</p>
        </section>
        <footer>
            <a href="{{ .RelPermalink }}">Continue reading…</a>
        </footer>
    </article>
</li>