{{ define "main" }}
  {{ if .Content }}
    <section>
      {{ .Content }}
    </section>
  {{ end }}
  
  {{ with .Data.Pages }}
    <ul class="blog-items">
      {{ range .ByWeight }}
        <a href="{{ .RelPermalink }}">
          <li class="blog-item">
              <span class="entry-date">
                {{- .Date.Format "January 2, 2006" -}}
              </span>
              <span class="entry-title">
                {{- .Title -}}
              </span>
          </li>
        </a>
      {{ end }}
    </ul>
  {{ end }}

{{ end }}