<header>
  <h1>
    <a href="{{ .Permalink }}">
      {{- .Title -}}
    </a>
  </h1>
  <div class="article-info">
    {{ if .Params.languages }}
      <div class="languages">
        {{- range .Params.languages -}}
          <a href="/languages/{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
      </div>
    {{ end }}      
    {{ if .Params.tools }}
      <div class="taxonomies">
        {{- range .Params.tools -}}
          <a href="/tools/{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
      </div>
    {{ end }}
  </div>
  <!-- TODO: add similar page for projects, except use technologies instead of categories -->
</header>