<section id="social-icons">
    {{ if .Site.Params.social.stackoverflow }}
        <a href="https://stackoverflow.com/users/{{ .Site.Params.social.stackoverflow }}" rel="noopener" target="_blank">
            <img src="/img/stackoverflow.svg" alt="StackOverflow" />
        </a>
    {{ end }}
    
    {{ if .Site.Params.social.github }}
        <a href="https://www.github.com/{{ .Site.Params.social.github }}" rel="noopener" target="_blank">
            <img src="/img/github.svg" alt="GitHub" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.linkedin }}
        <a href="https://www.linkedin.com/in/{{ .Site.Params.social.linkedin }}" rel="noopener" target="_blank">
            <img src="/img/linkedin.svg" alt="LinkedIn" />
        </a>
    {{ end }}
</section>
<section>
    <small>{{ dateFormat "2006" now }} • {{ printf .Site.Author.name -}}</small>
</section>

<!-- Scripts -->