#page-header {
    text-align: center;

    h1 {
        margin: 15px 0 10px 0;
        text-transform: uppercase;
        font-family: $raleway;
        font-weight: 800;
        font-size: 2em;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        li {
            text-transform: uppercase;
            list-style-type: none;
            padding: 5px;
        }
    }
}

nav {
    a {
        font-family: $raleway;
        font-weight: 700;
        font-size: 1em;
        color: $inactive;
    }

    li > a:hover {
        color: $hover;
    }
}

.nav-current {
    a, a:hover {
        color: $active;
    }
}