.entries {
    padding-left: 1em;

    a:hover {
        color: $decoration;
    }
}

.entry {
    margin: 1em 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    .entry-date {
        color: $supporting-info;
        font-style: italic;
        min-width: 10em;
    }

    .entry-title {
        min-width: 10em;
        text-align: left;
    }
}

ul.pagination {
    padding: 0;
    margin: 3em 0 1.5em 0;
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
        display: inline-block;
        margin: 0 0.2em;
        font-size: 1.05em;
    }

    li.active {
        font-weight: 700;
    }
}