%supporting {
    display: inline;
    text-transform: uppercase;
    color: $supporting-info;
    letter-spacing: 0.0416667em; // 0.5px [12 px context]
    font-size: $px12;
}

$px5: 0.416667em; // 5px [12 px context]

.markdown {

    line-height: $px24;

    header {
        margin-bottom: 2em;
        border-bottom: $separating-border;
        padding-top: $px20;
    }

    h1 {
        font-size: 2.25em;
    }

    h2, h3, h4, h5, h6 {
        margin-top: 2em; // 36 px
        margin-bottom: 1em; // 24 px
    }

    .categories {
        @extend %supporting;
    }

    .date {
        @extend %supporting;
        margin-left: $px5;
    }

    .article-info {
        display: flex;

        a {
            color: inherit;
            margin: 0 $px5 0 $px5;
        }

        a:hover {
            color: $decoration;
        }
    }

    .date {
        flex-grow: 1;
        text-align: left;
    }

    .categories {
        flex-grow: 1;
        text-align: right;
    }

    blockquote {
        font-size: 0.85em;
        color: #515A5A  ;
    }

    footer {
        border-top: $separating-border;
        margin: $px30 0;
    }
}