@import url('https://fonts.googleapis.com/css?family=Raleway:700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700');

// Fonts
$raleway: 'Raleway', sans-serif;
$crimson: 'Crimson Text', serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;

// Colors
$active: #383838;
$hover: #606060;
$inactive: #909090;
$background: #f7f3ed;
$content: white;
$border: #ddd;

// sizes

@import 'general';
@import 'header';
@import 'footer';
@import 'content';

body {
    background-color: $background;
}

main {
    background-color: $content;
    border: 1px solid $border;
    margin: 10px auto;
    padding: 15px 45px 15px 45px;
    max-width: 780px;

    @media screen and (max-width: 960px) {
        max-width: 75%;
    }

    @media screen and (max-width: 500px) {
        max-width: 100%;
        margin: 0;
        padding: 15px 10px 15px 10px;
    }
}