@import url('https://fonts.googleapis.com/css?family=Raleway:700,800');

// Fonts
$raleway: 'Raleway', sans-serif;

// Colors
$active: #383838;
$hover: #606060;
$inactive: #909090;
$background: #f7f3ed;
$content: white;
$border: #ddd;

// sizes

@import 'general';
@import 'header';
@import 'footer';

body {
    background-color: $background;
}

main {
    background-color: $content;
    border: 1px solid $border;
    margin: 10px auto;
    padding: 10px;
    max-width: 800px;

    @media screen and (max-width: 960px) {
        max-width: 85%;
    }
}