<title>
    {{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
    {{- if eq $url "/" -}}
        {{- .Site.Title -}}
    {{- else -}}
        {{- if .Params.heading -}} 
            {{- .Params.heading }} :: {{ .Site.Title -}}
        {{- else if .Title -}}
            {{- .Title }} :: {{ .Site.Title -}}
        {{- else -}}
            {{- .Site.Title -}}  
        {{- end -}}
    {{- end -}}
</title>

<link rel="canonical" href="{{ .Permalink }}">
{{ if .Site.Params.assets.normalizecss }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
{{ end }}
<link rel="stylesheet" href="/css/style.css">

{{ partial "head/scripts" . }}