<!DOCTYPE html>
<html lang="en-US">

  <head>
    <!-- CSS and meta data -->
  </head>
  
  <body>

    <header>
      <h1>The Title</h1>

      <nav>
        <ul>
          {{ range .Site.Menus.main }}
            {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
            <li class="{{ if $isCurrent -}} nav-current {{- end }}">
              <a href="{{ .URL | absLangURL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>

    </header>

    <main>
      <section id="content">
        {{ if .Content }}
            {{ .Content }}
        {{ end }}
      </section>
    </main>

  {{ partial "footer" . }}