{{ define "main" }}
  {{ if .Content }}
    <section>
      {{ .Content }}
    </section>
  {{ end }}

  {{ $blogCount := len (where .Site.RegularPages "Section" "blog") }}
  {{ $latestPostCount := .Site.Params.latestpostcount | default 5 }}

  {{ if gt $blogCount 0 }}
    <section>
      <ul class="recent-posts">
        {{ range (first $latestPostCount (where .Site.RegularPages.ByPublishDate.Reverse "Section" "blog")) }}
          {{ partial "list/indexlistitem" . }}
        {{ end }}
      </ul>
      {{ if gt $blogCount $latestPostCount}}
        {{ range where .Site.Menus.main "Identifier" "blog" }}
          <a class="more-posts" {{ printf "href=%q" .URL | safeHTMLAttr }}>To previous entries...</a>
        {{ end }}
      {{ end }}
    </section>
  {{ end }}

{{ end }}